<form method="post" action="/videos/{{newVideo._id}}/updates">
    <input id="video-title" type="text" value="{{newVideo.title}}" name="title">
    {{#with newVideo.errors.title as |error|}}
        <span>{{error.message}}</span>
    {{/with}}
    <input id="video-url" type="text" value="{{newVideo.videoUrl}}" name="videoUrl">
    {{#with newVideo.errors.videoUrl as |error|}}
        <span>{{error.message}}</span>
    {{/with}}
    <textarea id="video-description" name="description">{{newVideo.description}}</textarea>
    <input type="submit" value="Save a Video"/>
</form>